<!-- 新　左側　ジャンル検索欄 -->
<div class="container">
	<div class="row">
		<div class="col-lg-4">

            <ul class="genre-group">
				<li class="genre-group-item">ジャンル検索</li>
				<% @genres.each do |genre| %>
				<li class="list-group-item"><%= link_to genre.genre_name,genre_search_product_path(genre.id) %></li>
				<% end %>
			</ul>

			<ul class="list-group">
				<li class="list-group-item">ジャンル検索</li>
				<li class="list-group-item">ケーキ</li>
				<li class="list-group-item">焼き菓子</li>
				<li class="list-group-item">プリン</li>
				<li class="list-group-item">キャンディー</li>
			</ul>

		</div>

		<!-- 新　右側　サイトの紹介 -->

		<div class="col-lg-8">
			<div class="box1">
				<div style="font-size: 20px; position: relative; display: inline-block;">
					<img src="assets/top.cake1.png" alt="写真" width="700" height="400">
					<div style="position: absolute; top: 200px; left: 25px; max-width: 100%; max-height: 100%; padding: 30px; text-align: left;">
						<strong><p>ようこそ、NaganoCakeへ！<br>
							このサイトは、ケーキ販売のECサイトになります。<br>
							会員の方も商品の閲覧はできますが、<br>
							購入には会員登録が必要になります。
						</p></strong>
					</div>
				</div>
			</div>
		</div>

		<!-- 新　右下のオススメ欄 -->

		<div class="recommend-items">
			<h2>オススメ商品</h2>
		</div>

		<div class="row">
			<% @products.first(4).each do |product| %> <!-- firstをつけると配列に対して回数を指定することができる -->
			<div class="col-xs-3">
				<div class="thumbnail">
					<%= attachment_image_tag product, :product_image, :fill, 100, 100, fallback: "no_image.png", size:'300x200', style:"width:100%" %>
					<div class="caption">
						<% link_to product.product_name,product_path(product.id) %>
						<p><%= product.product_description%></p>
					</div>
				</div>
			</div>
			<% end %>
		</div>

		<div class="row"> <!-- ---------------row------------------------ -->
			<div class="col-xs-3">
				<div class="thumbnail">
					商品写真
				</div>
				<div class="caption">
					<p>商品名</p>
					<p>price</p>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="thumbnail">
					商品写真
				</div>
				<div class="caption">
					<p>商品名</p>
					<p>price</p>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="thumbnail">
					商品写真
				</div>
				<div class="caption">
					<p>商品名</p>
					<p>price</p>
				</div>
			</div>

			<div class="col-xs-3">
				<div class="thumbnail">
					商品写真
				</div>
				<div class="caption">
					<p>商品名</p>
					<p>price</p>
				</div>
			</div>

		</div> <!-- ---------------row------------------------ -->

	</div>
</div>


<%= current_customer.id %>

<%= current_customer.family_name %>

<%= current_customer.first_name %>

<%= current_customer.family_name_kana %>

<%= current_customer.first_name_kana %>

<%= current_customer.email %>

<%= current_customer.postal_code %>

<%= current_customer.address %>

<%= current_customer.telephone_number %>


<%= link_to "home", customers_root_path %>
<%= link_to "address_index", customers_customer_addresses_path(current_customer.id) %>
