
	<div class="row">

		<p style="font-size:20pt;">注文情報入力</p>

		<!-- データ送信　機能なし -->
		<p style="font-size:10pt;">支払方法</p>
		<input type= "radio" name="pay" value="card">クレジットカード
		<input type= "radio" name="pay" value="bank">銀行




		<p style="font-size:10pt;">お届け先</p>

			<!--機能実装済み-->
			<div>
				<%= f.label "ご自身の住所" %><br>
				<%= radio_button_tag( 'select_address' , 'ご自身の住所' ) %>
				<span>〒<%= current_customer.postal_code + current_customer.address + current_customer.family_name + current_customer.first_name %></span>
			</div>


			<!-- データ送信　機能なし -->
			<div>
				<%= f.label :shipping_addresses, "登録済みの住所から選択" %><br>
				<%= radio_button_tag( 'select_address' , '登録済み住所から選択' ) %>
			</div>


			<!-- 機能実装済み -->
			<div>
				<%= f.label :shipping_addresses, "新しいお届け先" %><br>
				<%= radio_button_tag( 'select_address' , '新しいお届け先' ) %>
			</div>
			<table>
				<tbody>
              		<tr>
                		<td><%= f.label :届け先郵便番号 %></td>
                		<td><%= f.text_field :shipping_postal_code %></td>
              		</tr>

					<tr>
                		<td><%= f.label :届け先住所 %></td>
                		<td><%= f.text_field :shipping_address %></td>
              		</tr>

              		<tr>
                		<td><%= f.label :届け先名 %></td>
                		<td><%= f.text_field :shipping_name %></td>
              		</tr>

            	</tbody>
			</table>

			<%= f.submit "確認画面に進む", class: "btn btn-primary btn-lg" %>

		<% end %>

	</div>