<div class="row", style="font-family: 'Hannotate SC',sans-serif";>
  <div class="col-xs-8 col-xs-offset-2">

    <div class="mypage-title">
	  <mark style="font-size: 20px;">会員一覧</mark>
	</div>

	<table class="table table-inverse", style="margin-top:15px">

	    <thead>
	      <tr class="active">
		    <th style="width:10%">会員ID</th>
		    <th style="width:30%">氏名</th>
		    <th style="width:30%">メールアドレス</th>
		    <th style="width:30%">ステータス</th>
		  </tr>
	    </thead>
	  <% @customers.each do |customer| %>
	    <tbody>
		  <tr>
		    <td><%= customer.id %></td>
			<td>
				<%= link_to admins_customer_path(customer.id) do %>
					<%= "#{customer.family_name}　#{customer.first_name}" %>
				<% end %>
			</td>
			<td><%= customer.email %></td>
			<td>
	          <% if customer.is_withdrawal == false %>
		        <p>有効</p>
		      <% else %>
		        <p>退会済</p>
		      <% end %>
			</td>
		  </tr>
		</tbody>
	  <% end %>
	</table>


    <div class="text-center"><%= paginate @customers %></div>

  </div>
</div>