
<!-- -------------CSS-------------- -->

<!-- .box3 {
	height: 200px;
	width: 200px;
	border: 1px solid #000000;
} -->

<!-- -------------CSS-------------- -->



<div class="row">


	<div class="col-xs-3">

		<ul class="list-group">
			<% @genres.each do |genre| %>

			<li class="list-group-item"><%= genre.name %></li>

			<% end %>

		</ul>

	</div>



	<div class="col-xs-4"><%= attachment_image_tag @product, :image, :fill, 350, 300 %></div>

	<div class="col-xs-5">
		<table class="noborder">
			<tbody>

				<tr style="font-size:15pt">
					<td><%= @product.name %></td>
				</tr>

				<tr>
					<td><%= @product.description %></td>
				</tr>

				<tr style="font-size:15pt">
					<td>¥<%= @product.unit_price %></td>
				</tr>

				<tr>
					<td>
					<%= form_for @cart_item,url: customers_customer_cart_items_path(current_customer.id), metod: :post do |f| %>
					<%= f.hidden_field :product_id, value: @product.id %>
        			<%= f.select :number, [1,2,3,4,5,6,7,8,9,10]%>
        			<%= f.submit "カートに入れる" %>
        			<% end %>
        			</td>
				</tr>

			</tbody>
		</table>
	</div>

</div>

