

<div class="row", style="font-family: 'Hannotate SC',sans-serif;">


	<div class="col-xs-3">

		<ul class="list-group">
			<h2 style="font-family: 'Hannotate SC',sans-serif; text-align: center;">ジャンル検索</h2>
			<% @genres.each do |genre| %>
			<div style="text-align: center; font-family: 'Hannotate SC',sans-serif;">
				<ul class="list-group">
					<% if genre.is_active == true %>
					<li class="list-group-item"><%= link_to genre.name,genre_search_customers_product_path(genre.id) %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
		</ul>

	</div>



	<div class="col-xs-4"><%= attachment_image_tag @product, :image, :fill, 250, 250 %></div>

	<div class="col-xs-5">
		<table class="noborder">
			<tbody>

				<tr style="font-size:20pt">
					<td><%= @product.name %></td>
				</tr>

				<tr>
					<td><%= @product.description %></td>
				</tr>

				<tr style="font-size:15pt">
					<td>¥<%= (@product.unit_price * 1.1).round(0) %></td>
				</tr>

		<% if customer_signed_in? %>
				<tr>
					<% if @product.is_selling == true %>
					<td>
					<%= form_for @cart_item,url: customers_customer_cart_items_path(current_customer.id), metod: :post do |f| %>
					<%= f.hidden_field :product_id, value: @product.id %>
        			<%= f.select :number, [1,2,3,4,5,6,7,8,9,10]%>
        			<%= f.submit "カートに入れる", class: "btn btn-warning" %>
        			<% end %>
        			<% else %>
        			<td><font color="red">売り切れ</font></td>
        			<% end %>
        			</td>
        		</tr>
        		<% else %>

        		<tr>
        			<td>新規会員登録は<%= link_to "こちら", new_customer_registration_path %>から</td>
        		</tr>

        		<% end %>

			</tbody>
		</table>
	</div>

</div>
