
<div class="container">
	<div class="row">


		<div class="col-md-offset-1">
			<span style="font-size:20pt; color:#000000; background-color:#C0C0C0;">注文情報確認</span></div>

			<table style="margin:10px" border="1" align="left">
				<thead style="background-color:#e0e0e0">
					<tr>
						<th>商品名</th>
						<th>単価（税込み）</th>
						<th>数量</th>
						<th>小計</th>
					</tr>
				</thead>

				<tbody>
					<!-- 商品データを受けとる　-->
					<tr>
						<td><%= "商品名１"%></td>
						<td><%= "単価（税込み）１"%></td>
						<td><%= "数量１"%></td>
						<td><%= "小計１"%></td>
					</tr>
					<tr>
						<td><%= "商品名２"%></td>
						<td><%= "単価（税込み）２"%></td>
						<td><%= "数量２"%></td>
						<td><%= "小計２"%></td>
					</tr>
					<tr>
						<td><%= "商品名３"%></td>
						<td><%= "単価（税込み）３"%></td>
						<td><%= "数量３"%></td>
						<td><%= "小計３"%></td>
					</tr>
				</tbody>
			</table>

			<table border="1">
				<!-- 数値データを受けとる　-->
					<tr>
						<th style="background-color:#e0e0e0">送料</th>
						<td>800</td>
					</tr>
					<tr>
						<th style="background-color:#e0e0e0">商品合計</th>
						<td><%= "商品合計１"%></td>
					</tr>
					<tr>
						<th style="background-color:#e0e0e0">請求金額</th>
						<td><%= "請求金額１"%></td>
					</tr>
			</table>

	</div>


	<div class="row">

		<p style="font-size:15pt;">支払方法 ％ここで支払方法のデータを受け取る</p>

		<p style="font-size:15pt;">お届け先 ％ここでお届け先データを受け取る</p>

		<a class="btn btn-success" href="#" role="button">購入確定</a>


	</div>
</div>