
<div class="container">

		<p style="font-size:20pt;">配送先登録/一覧</p>

		<a>form_for(@shipping_address) do |f| </a>

		<table class="table" id="none-border">

			<tbody>
              	<tr>
                	<td>f.label :届け先郵便番号</td>
                	<td>f.text_field :shipping_postal_code</td>
              	</tr>

				<tr>
                	<td>f.label :届け先住所</td>
                	<td>f.text_field :shipping_address</td>
              	</tr>

              	<tr>
                	<td>f.label :届け先名</td>
                	<td>f.text_field :shipping_name</td>
              	</tr>


				<tr>
                	<td>f.submit "登録する",class: "btn btn-success"</td>
              	</tr>
            </tbody>
		</table>

		<a>end</a>


		<table style="margin:10px" border="1">

			<thead style="background-color:#e0e0e0">
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<!-- 宛名データを受けとりテーブルで表示　-->
				<tr>
					<td><%= "000-0000"%></td>
					<td><%= "住所１"%></td>
					<td><%= "宛名１"%></td>
					<td><button type="button" class="btn btn-primary">編集する</button>
						<button type="button" class="btn btn-danger">削除する</button></td>
				</tr>
				<tr>
					<td><%= "111-1111"%></td>
					<td><%= "住所２"%></td>
					<td><%= "宛名２"%></td>
					<td><button type="button" class="btn btn-primary">編集する</button>
						<button type="button" class="btn btn-danger">削除する</button></td>

				</tr>
			</tbody>
		</table>


</div>


