
<div class="row"><!-- ---------------row------------------------ -->
    <div class="col-xs-12">
        <h3>会員の方はこちらからログイン</h3>
    </div>
</div><!-- ---------------row------------------------ -->



    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<div class="row"><!-- ---------------row------------------------ -->
        <div class="field">
            <div class="col-xs-2">
                <%= f.label :email %>
            </div>
            <div class="col-xs-6">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
        </div>
</div><!-- ---------------row------------------------ -->

<div class="row"><!-- ---------------row------------------------ -->
        <div class="field">
            <div class="col-xs-2">
                <%= f.label :password %>
            </div>
            <div class="col-xs-6">
                <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
        </div>
</div><!-- ---------------row------------------------ -->


<div class="row"><!-- ---------------row------------------------ -->
        <div><%= link_to "=>パスワードを忘れた方はこちら", edit_customer_password_path %></div>
</div><!-- ---------------row------------------------ -->


<div class="row"><!-- ---------------row------------------------ -->
        <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary btn-md" %>
        </div>

    <% end %>
</div><!-- ---------------row------------------------ -->




<div class="row"><!-- ---------------row------------------------ -->

    <div class="col-xs-12">
        <h3>登録がお済みでない方</h3>
        </div>
            <%= link_to"こちら", new_customer_registration_path %>から新規登録を行なってください。


</div><!-- ---------------row------------------------ -->
