

<div class="container">
  <div class="row">


    <h2>商品詳細</h2>

      <%= attachment_image_tag @product, :image, :fill, 50, 50 %>


        <div class="col-mb-8">
          <div class="card-body">

            <h5 class="card-title">商品名</h5>
            <p class="product-name"><%= @product.name %></p>

            <h5 class="card-title">商品説明</h5>
            <p class="description"><%= @product.description %></p>

            <h5 class="genre">ジャンル</h5>
            <p class="genre-name"><%= @product.genre.name %></p>

            <h5 class="price">税込価格（税抜き価格）</h5>
            <p class="price"><%= @product.unit_price %></p>

            <h5 class="sale-status">販売ステータス</h5>
            <p class="status">
              <%if @product.is_selling == true %>
                <p>有効</p>
              <% else %>
                <p>無効</p>
              <% end %>
            </p>

            <%= link_to "Edit",edit_admins_product_path, class: "btn-sm btn-success" %>

          </div>
        </div>


  </div>
</div>