
<div class="row", style="font-family: 'Hannotate SC',sans-serif;">

    <div class="col-md-12">

      <div style="margin: 0px 0px 30px 23px;">
        <mark style="font-size: 20px;">ショッピングカート</mark>
      </div>

      <% if @cart_items.present? %>
      <div class="text-right">
            <%= link_to "カートを空にする", customers_customer_alldestroy_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
      </div><br>
      <% end %>

    </div>

    <table class="table table-bordered">

    	<thead>
        	<tr class="active">
          		<th style="width:40%">商品名</th>
          		<th style="width:15%">単価（税込み）</th>
          		<th style="width:15%">数量</th>
          		<th style="width:15%">小計</th>
          		<th style="width:15%">　　</th>
        	</tr>
      	</thead>

    	<tbody>

        <% @unit_price = 0 %> <!--単価-->
        <% @add_price = 0 %> <!--足される額-->
        <% @subtotal = 0 %> <!--とりあえず合計-->

        <!--カートに入ってる商品の情報を送る-->
        <!-- current_customer.cartsを持ってきてcartにいれてる -->
          <% @cart_items.each do |cart_item| %>

          <!-- current_customerを@customerに -->
          <%= form_for [@customer, cart_item],url: customers_customer_cart_item_path(@customer, cart_item),method: :patch do |f| %>

        	<tr>
              <!-- 商品名 -->
          		<td><%= cart_item.product.name %></td>
          		<!-- 単価(税込) delimitedは3桁区切り文字 to.sは文字列に変換-->
              <% @unit_price = (cart_item.product.unit_price * 1.1).floor%>
              <td><%= @unit_price.to_s(:delimited)%>円</td>
              <!-- 数量 turbolinksはajaxぽくできるやつ-->
              <td><%= f.number_field :number,in: 1..100, step: 1, :value => cart_item.number %>
              <%= f.submit "変更", class: "btn btn-primary",data: {:turbolinks => "false"} %></td><!-- 小計 -->
              <% @subtotal = (@unit_price * cart_item.number).floor %>
              <td><%= @subtotal.to_s(:delimited) %>円</td>
              <% @add_price = @add_price + @subtotal %>
          		<!-- 削除ボタン -->
              <td><%= link_to "削除する", customers_customer_cart_item_path(@customer,cart_item), method: :delete, class: "btn btn-danger" %></td>
        	</tr>

          <% end %>
          <% end %>

      	</tbody>

      	<table class="table table-bordered">

        	<tr>
        		<td><%= link_to "買い物を続ける",customers_products_path, class: "btn btn-primary" %></td>
        		<td></td>
        		<td></td>
         	 	<td>合計金額</td>
         	 	<td><%= @add_price.to_s(:delimited) %>円</td>
       		</tr>

      	</table>

	</table>


</div>

<div class="row">
	<div class="text-center">
		<%= link_to "情報入力へ進む", new_customers_customer_order_path(current_customer.id),class: "btn btn-success btn-lg active" %>
	</div><br>
</div>



