<!DOCTYPE html>
<html>

  <head>
    <title>ocean_cake_admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!--ヘッダーの記述-->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>LOGO</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if admin_signed_in? %>
              <li class=""><%= link_to "", _path%>商品一覧</li>
              <li class=""><%= link_to "", _path%>会員一覧</li>
              <li class=""><%= link_to "", _path%>注文履歴一覧</li>
              <li class=""><%= link_to "", _path%>ジャンル一覧</li>
              <li class=""><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

            <% else %>

              <li class=""><%= link_to "商品一覧", _path%></li>
              <li class=""><%= link_to "新規登録", new_admin_session_path%></li>
              <li class=""><%= link_to "ログイン", new_admin_session_path%></li>

            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <!--ヘッダーの記述-->


    <div class="container">
      <p id="notice"><%= notice %></p> <!--デバイスでnotice設定されているので呼び出してるだけ-->
        <%= yield %>
    </div>

    <footer class="navbar navbar-fixed-bottom navbar-inverse">

    </footer>

  </body>

</html>
