<!DOCTYPE html>
<html>

<head>
  <title>Admin_Nagano_Cake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!--ヘッダーの記述-->
  <header class="navbar navbar-fixed-top", style="background-color: #FFFF99;">
    <div class="container">

      <nav class="nav navbar-nav navbar-left">
        <span style="font-family: cursive; font-size: 35px;">
          <% if admin_signed_in? %>
            <%= link_to 'Nagano-cake',admins_root_path %></span>
          <% else %>
            Nagano-cake
          <% end %>
      </nav>

      <nav>
        <ul class="nav navbar-nav navbar-right">
          <!--if文でサインインとアウト時の表示を変更-->
          <% if admin_signed_in? %>
          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "商品一覧", admins_products_path, class: 'up'%></li>
          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "会員一覧", admins_customers_path, class: 'up'%></li>
          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "注文履歴一覧", admins_orders_path, class: 'up'%></li>
          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "ジャンル一覧", admins_genres_path, class: 'up'%></li>
          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "ログアウト", destroy_admin_session_path, class: 'up', method: :delete %>
          </li>

          <div class="text-right">
           <input type="search" name="search" placeholder="キーワードを入力">
          </div>

          <% else %>


          <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "ログイン", new_admin_session_path%></li>

          <% end %>
        </ul>
      </nav>

    </div>
  </header>
  <!--ヘッダーの記述-->

  <div class="container">
      <% if flash[:notice] %>
      　　<div class="alert alert-warning" role="alert"><strong><%= notice %></strong></div>
      <% end %>
      <% if flash[:alert] %>
      　　<div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
      <% end %>
      <%= yield %>
    </div>

  <footer class="navbar navbar-fixed-bottom", style="background-color: #FFFF99;">

  </footer>

</body>

</html>
