<!DOCTYPE html>
<html>

  <head>
    <title>ocean_cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!--ヘッダーの記述-->
    <header class="navbar navbar-fixed-top", style="background-color: #FFFF99; color: black; ">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span style="font-family: cursive; font-size: 35px; color: #FF6600";><%= link_to 'Nagano-cake',customers_root_path %></span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" >
            <!--if文でサインインとアウト時の表示を変更-->
            <% if customer_signed_in? %>
              <li style="font-family: 'Hannotate SC',sans-serif;">ようこそ、<%= current_customer.family_name %>さん !</li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "マイページ", customers_customer_path(current_customer.id) %></li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "商品一覧", customers_products_path %></li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "カート", customers_customer_cart_items_path(current_customer.id) %></li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "ログアウト",destroy_customer_session_path, method: :delete %></li>

            <% else %>

              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "商品一覧", customers_products_path %></li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "新規登録", new_customer_registration_path %></li>
              <li style="font-family: 'Hannotate SC',sans-serif;"><%= link_to "ログイン", new_customer_session_path %></li>

            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <!--ヘッダーの記述-->

    <div class="container">
      <% if flash[:notice] %>
      　　<div class="alert alert-warning" role="alert"><strong><%= notice %></strong></div>
      <% end %>
      <% if flash[:alert] %>
      　　<div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="navbar navbar-fixed-bottom", style="background-color: #FFFF99;">

    </footer>

  </body>

</html>
